.app {
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
}

.pokemonList {
  margin: 10px auto;
  display: grid;
  // Three columns, each with a minimum width of 240px
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  :global(.foo) {
    background-color: blue;
  }
}
