.app {
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
}

.pokemonList {
  display: grid;
  // Three columns, each with a minimum width of 240px
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  :global(.foo) {
    background-color: blue;
  }
}
